venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.DS_STORE

.env
ImageGen/imgs/
ImageGen/imgsOld/
ImageGen/characterImages/
ImageGen/apex/

ImageGen/gfpgan/weights/parsing_parsenet.pth
ImageGen/gfpgan/weights/detection_Resnet50_Final.pth
save.json
