venv/

*.pyc
__pycache__/

instance/
apex/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.DS_STORE

.env
imgs/
imgsOld/

gfpgan/weights/parsing_parsenet.pth
gfpgan/weights/detection_Resnet50_Final.pth
save.json
